/* ESTILOS NORMALES (para móviles en vertical)
   ========================================================================= /
 
body { ... }
p    { ... }*/

/* footer {
   font-family: 'Baloo Tamma 2', cursive;
   background-color:#193737;
   color:#ffffff;
} */

footer {
   font-family: 'Baloo Tamma 2', cursive;
   background-color:#193737;
   color:#ffffff;
   font-size:0.7rem;
}

footer span {
    padding-left: 7px;
}

footer div {
    margin: 2px 5px;
    text-align:left;
}

/* RESPONSIVE
   ========================================================================= */

/* Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
@media (min-width: 768px) {

 footer {
   font-size:20px;
 } 

}

/* Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- */
@media (min-width: 1024px) {
   footer {
      font-size:14px;
   } 
   footer div {
      text-align: center;
   }
 }
 
/* Escritorios muy anchos
   ------------------------------------------------------------------------- */
@media (min-width: 1200px) { }